.App {
  text-align: center;
  justify-content: center;
  align-items: center;
		   
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
    color: #61dafb;
}

img {
    float: center;
    height: 200px;
    max-width: 100%;
}

.card-body {

}

.card-body:hover {
    box-shadow: 0 0 2em 0px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.card-body:active {
    transform: scale(1.01) translateY(0.2rem);
}

.career-option:hover {
    transform: scale(1.01);
}

.career-option:active {
    transform: scale(1.01) translateY(0.2rem);
}
